body {
	margin: 0px;
	font-size: 1.1em;
	background-image: url("background image.jpg");
}
ul {
    list-style-type:none;
    margin: 0;
    padding: 5;
    overflow: hidden;
    background-color:steelblue;
    position:fixed;
    width: 100%;
    top: 0;
  }
nav {
	float: left;

}

nav a {
	display: inline;
    color: aqua;
    text-align: center;
    padding: 4px 4px;
    text-decoration: none;
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
    height:20px;
    position: relative;
}

a {
	color: aqua;
	font-weight: bold;
}

h1 {
	margin: 30px;
	color: aqua;
	font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
	text-align: center;
}

input[type = text]{
	margin:0;
	position:absolute;
	top:30%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 200px;
	width: 400px;
	border: 10px steelblue;
	border-radius: 3px ;
	background-color: aqua;
}

output{
	margin:0;
	position:absolute;
	top:60%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height: 200px;
	width: 400px;
	border: 10px steelblue;
	border-radius: 3px ;
	background-color: aqua;
}


#banner-text {
	font-weight: bold;
	padding: 200px 100px;
	text-align: center;
}
button{
	background-color:steelblue;
	color:aqua;
	border-style:none;
	border-radius: 3px;
	font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
	height: 45px;
	font-size:15px;
	margin:0;
	position:absolute;
	top:45%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}